.pic_wall_bg {
    height: 60%;

    align-items: center;
    justify-content: center;
    background: url("../../public/images/pic_wall.jpg") no-repeat;
    background-size: cover;
}

.pic_wall {
    width: 60%;
    height: 100%;
    background: url("../../public/images/pic_wall.jpg") no-repeat;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pic_item {
    width: 200px;
    height: 150px;
}

.pic_wall_icon {
    position: absolute;
    right: 60px;
    top: 60px;
}

.pic_wall_button {
    position: absolute;
    left: 30%;
    top:20%;
}
